{% extends 'base.html' %}
{% block content %}
    <!-- About -->

    <h4 class="center">About Us</h4>
    <div class="divider"></div>
    <div class="section" id="about">
    <div class="row">
        <p class="center">
            Welcome to the {{ config.GROUP_NAME }} community site!
            We are a growing community of <a href="https://python.org">Python</a> enthusiasts, ranging from those starting the language, to those who have been using it for far too long.
            Our community has a range of resources, from our main presence on Slack to our <a href="{{ config.GIT_GROUP }}">community projects</a>.
        </p>


    </div>
        <div class="row center-align center">
        <div class="input-field col s12">
            {% include 'main/join.html' %}
        </div>
      </div>
    </div>
    <!-- Projects section -->
    <h4>Projects</h4>
    <div class="divider"></div>
    <div class="section" id="projects">

    <!-- Provisional filler -->
        <div class="row">
        {% for project in config.PROJECTS %}
            <div class="col s4">
            {% include 'main/project.html' %}
            </div>
        {% endfor %}
        </div>
    </div>


{% endblock %}
