<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Request an invite:</h4>
        <p>You're almost there! In order to join us, just enter your email below and an invite will be sent shortly.</p>

        <div class="row">
            <form class="col offset-s3 s6">
            <label for="email" data-error="Invalid email entered." data-success="Valid email!">Email</label>
            <input placeholder="user@email.com" id="email" type="email" class="validate">
            <button class="btn waves-effect waves-light" type="submit" name="action">Send Invitation
                <i class="material-icons right">send</i>
            </button>
            </form>

        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green">Nevermind, thanks!</a>
    </div>
</div>
<a href="#modal1" class="modal-trigger btn red white-text">Join us on Slack!</a>
