<!-- About -->
<div class="card">
    <div class="card-image">
        <img class="activator" src="{{ project.icon }}" />
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">{{ project.name }}</span>
            <p>{{ project.description }}</p>
        </div>
        <div class="card-action">
            <a href="{{ project.repo }}">GitLab Repo</a>
        </div>
    </div>
</div>

