<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ config.GROUP_NAME }} Community Site</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/project.css">
    {% block CSS %}
    {% endblock %}

</head>
<body>
<header class="header">
    <h2 class="headline"><a href="/" style="color: white;">{{ config.GROUP_NAME }} Community Site</a></h2>
    <ul class="header-subnav">
        <li><a href="#aboutus">About us</a></li>
        <li><a href="#projects">Projects</a></li> <!-- Needs to have a is-active class -->
    </ul>
</header>

<ul class="flashes"> <!-- need to work on the flashes class -->
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
<div class="container">
    {% block content %}
    {% endblock content %}
</div>
{% block modal %}
{% endblock modal %}

<!-- footer -->
<footer class="page-footer white">
    <div class="footer-copyright bg-blue">
        <div class="container">
            This site made possible by contributions from the {{ config.GROUP_NAME }} community.
            <a class="grey-text text-lighten-4 right" href="{{ config.GIT_SOURCE }}">Check it out on GitLab!</a>
        </div>
    </div>
</footer>


<!-- Scripts -->
<!-- JQuery -->
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<!-- Materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="static/js/project.js"></script>
{% block javascript %}
{% endblock javascript %}

</body>
</html>